@import "../../../stylesheets/core/variables";

.card-list {
  &__link {
    text-decoration: none;
  }

  &__icon-container {
    width: 32px;
    height: 32px;
    border: 2px solid $colorBrand03;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icons {
    font-size: 18px;
    color: $colorBrand05;
    font-weight: normal;
    text-align: center;
  }
}

.fa-mobile {
  font-size: 26px;
}
