.cards-form {
  @media all and (min-width: 768px) {
    grid-column: 1 / 2;
    grid-row: 1 / 1;

    @media all and (min-width: 768px) {
      margin-right: 10px;
    }
  }
}

.hidden {
  display: none;
}
.shown {
  display: unset;
}
